<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form</title>
</head>
<body>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
    </ul>
  </nav>

  <!-- TODO: for POST
  1. Change action route to "/views/pages/searches" 
  2. Change method to "POST"
-->

  <form action="/views/pages/searches">
    <fieldset>
      <legend>Book Searching</legend>

      <label for="userSearch">Enter Title, Author, or Subject</label>
      <input type="text" name="userSearch">

      <label for="Author">Author</label>
      <input type="radio" id="Author" value="Author" name="userSearch">

      <label for="Title">Title</label>
      <input type="radio" id="Title" value="Title" name="userSearch">

      <label for="Subject">Subject</label>
      <input type="radio" id="Subject" value="Subject" name="userSearch">

      <input type="submit" value="Search the Google Books API">
    </fieldset>
  </form>

</body>
</html>