<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SHOW STUFF</title>
</head>

<body>

  <%- include('../layout/header.ejs') %>

  <h1>RENDERING BOOKS N STUFF</h1>
  <ul>
    <% for(let i =0; i < booksToFrontEnd.length; i++){ %>
    <li>
      <h2><%= booksToFrontEnd[i].title %></h2>
      <h3><%= booksToFrontEnd[i].description %></h3>
      <img src="<%= booksToFrontEnd[i].img %>" alt="">
    </li>
   <% } %>
  </ul>

</body>

</html>