<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SHOW STUFF</title>


</head>

<body>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/views/pages/searches">Search for Books</a></li>
    </ul>
  </nav>

  <h1>RENDERING BOOKS N STUFF</h1>
  <ul>
    <% for(let i =0; i < booksToFrontEnd.length; i++){ %>
    <li>
      <h2><%= booksToFrontEnd[i].title %></h2>
      <img src="<%= booksToFrontEnd[i].imgUrl %>" alt="">
    </li>
   <% } %>
  </ul>

</body>

</html>