<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lab 11</title>
  <link rel="stylesheet" href="./styles/reset.css">
  <link rel="stylesheet" href="./styles/base.css">
  <link rel="stylesheet" href="./styles/layout.css">
  <link rel="stylesheet" href="./styles/modules.css">
</head>
<body>
  <h1>Sup</h1>
  <nav>
    <ul>
      <li><a href="./views/pages/searches/">Search for Books</a></li>
    </ul>
  </nav>
</body>
</html>