<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form</title>
</head>
<body>
  <form>
    <fieldset>
      <legend>Book Searching</legend>

      <label for="user-search">Enter Title, Author, or Subject</label>
      <input type="text" name="user-search">

      <label for="Author">Author</label>
      <input type="radio" id="Author" value="Author" name="user-search">

      <label for="Title">Title</label>
      <input type="radio" id="Title" value="Title" name="user-search">

      <label for="Subject">Subject</label>
      <input type="radio" id="Subject" value="Subject" name="user-search">

      <input type="submit" value="Search the Google Books API">
    </fieldset>
  </form>

</body>
</html>