<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="views/pages/searches">Search for Books</a></li>
      <li><a href="view/pages/books/:id">Detail</a></li>
    </ul>
  </nav>
</header>
